body {
  background-image: url(a62.png);
}

header {
  background-color: black;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  grid-column: span 4;
}

h1 {
  font-family: Helvetica;
  font-weight: normal;
  color: white;
}

main {
  grid-column: span 3;
  margin-right: 15px;
}

h2 {
  font-family: Helvetica;
  border-bottom: 3px solid black;
  padding: 3px;
}

img {
  float: left;
  border: 3px solid black;
  padding: 5px;
  margin-right: 10px;
}

nav {
  grid-column: span 1;
  padding-right: 32px;
  margin-left: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  width: 200px;
  margin-top: 10px;
}

nav ul li a {
  display: block;
  background-color: red;
  color: white;
  padding: 1em;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: darkred;
}

p {
  font-family: Georgia;
  text-align: justify;
}

footer {
  grid-column: span 4;
  border: 3px solid black;
  font-family: Verdana;
  font-style: italic;
  color: white;
  background-color: red;
  padding-left: 15px;
  padding-right: 15px;
}

footer p {
  text-align: center;
}

.words p {
  font-weight: bold;
}

.random a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.random a:hover {
  color: blue;
  text-decoration: underline;
}

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
